services:
  calibration-service:
    container_name: calibration-service
    build: .
    env_file: .env
    ports:
      - "50052:50052"
    volumes:
      - ./reports:/app/reports
      - ./src/proto:/app/src/proto
    networks:
      - tpp-network

networks:
  tpp-network:
    external: true
