services:
  calibration-service:
    container_name: calibration-service
    build: .
    env_file: .env
    depends_on:
      - calibration-db
    volumes:
      - ./reports:/app/reports
      - ./src/proto:/app/src/proto
    networks:
      - tpp-network

  calibration-db:
    image: postgres:15
    container_name: calibration-db
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_PORT=${POSTGRES_PORT}
    ports:
      - "${POSTGRES_EXTERNAL_PORT}:5432"
    volumes:
      - calibration_db_data:/var/lib/postgresql/data
    networks:
      - tpp-network

volumes:
  calibration_db_data:

networks:
  tpp-network:
    external: true
