services:
  calibration:
    build: .
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    ports:
      - "8001:8001"
    networks:
      - mlflow-network

networks:
  mlflow-network:
    external: true
