services:
  calibration-service:
    build: .
    env_file: .env
    ports:
      - "50052:50052"
    volumes:
      - ./artifacts:/app/artifacts
      - ./reports:/app/reports
      - ./src/pb:/app/src/pb
    networks:
      - tpp-network

networks:
  tpp-network:
    external: true
